<!DOCTYPE html>
<html lang="en" th:replace="fragments/layout :: layout(~{::title}, ~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Produits</title>
</head>
<body>
    <section>
        <h2>Nos Produits</h2>
        <a th:href="@{/products/add}">Ajouter un Produit</a>

        <p th:unless="${#lists.isEmpty(productList)}">Voici nos articles disponibles :</p>
        <p th:if="${#lists.isEmpty(productList)}"> Désolé, aucun produit n'est disponible</p>

        <table th:unless="${#lists.isEmpty(productList)}">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Parité</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p, iterStat: ${productList}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${p.name}">Nom du Produit</td>
                    <td th:text="${#numbers.formatCurrency(p.price)}">Price</td>
                    <td th:text="${iterStat.odd ? 'Odd' : 'Even'}">Parity</td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>